body> a {
color: yellowgreen;
}
input [type="text"] {
    background-color: aquamarine;
}
h1, h2,h3 {
    color: green;
}
body {
    background-color: rgb(206, 169, 197);
    align-items:right;
}
p{   
    text-align: left;
}